<section class="about" id="about">
    <div class="container">
        <h2 class="section-title about-title">ABOUT THE GAME</h2>
        <ul class="about-list">
            <li class="about-item">
                <p class="about-text">Step into the heart of Paris and join Ambre in Dazzly Stories: Ambre’s Secret, a mesmerizing narrative gem-matching adventure</p>
            </li>
            <li class="about-item">
                <p class="about-text">Explore forgotten rooms, restore heirloom jewelry, and reveal a story of legacy, gemstones, and the fate of a magical bloodline</p>
            </li>
            <li class="about-item">
                <p class="about-text">When Ambre’s Aunt Céleste mysteriously vanishes, Ambre inherits an old mansion — and a choice. Should she sell it to an insistent stranger or uncover the secrets Céleste left behind?</p>
            </li>
            <li class="about-item">
                <p class="about-text">With only two days and help from childhood friends — a talking magpie and a mischievous cat — Ambre begins a magical journey to reveal her family’s hidden history</p>
            </li>
        </ul>
    </div>
</section>