<section class="download" id="download">
  <div class="download-container container">
    <img
      srcset="
        ./images/download/download-1x.png 1x,
        ./images/download/download-2x.png 2x
      "
      src="./images/download/download-1x.png"
      alt="Download Game"
      class="download-image"
    />
    <div class="download-content">
      <div class="content-text">
        <h3 class="download-title">
          THE MANSION AWAITS — DISCOVER THE SECRET WITHIN
        </h3>
        <p>
          Free to play with optional features. Experience a story like no other
        </p>
      </div>
      <div class="content-btn">
        <a
          href="https://play.google.com/store/apps/details?id=com.geode.dazzlystories&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
          class="shine-link"
        >
          <img
            src="./images/download/google-1x.png"
            alt="Google Play"
            srcset="
              ./images/download/google-1x.png 1x,
              ./images/download/google-2x.png 2x
            "
          />
        </a>
        <a
          href="https://apps.apple.com/ru/app/dazzly-stories-ambres-secret/id1632931480"
          target="_blank"
          rel="noopener noreferrer"
          class="shine-link"
        >
          <img
            src="./images/download/apple-1x.png"
            alt="App Store"
            srcset="
              ./images/download/apple-1x.png 1x,
              ./images/download/apple-2x.png 2x
            "
          />
        </a>
      </div>
    </div>
  </div>
</section>
