<footer class="footer" data-footer>
  <div class="footer-container container" data-footer-container>
    <div class="footer-list" data-footer-list>
      <p class="footer-text" data-footer-text>
        <a class="footer-link" href="./privacy-policy.html" data-footer-link
          >Privacy Policy</a
        >
        |
        <a class="footer-link" href="./terms.html" data-footer-link
          >Terms and Conditions</a
        >
        |
        <a class="footer-link" href="./cookies-policy.html" data-footer-link
          >Cookies Policy</a
        >
      </p>
    </div>
    <div class="footer-copyright" data-footer-copy>
      <p class="footer-text" data-footer-text>
        All rights reserved clarivo.space |
        <span id="current-year" data-current-year></span>
      </p>
    </div>
  </div>
</footer>
