<footer class="footer">      
  <div class="footer-container container">
    <div class="footer-list">
      <p class="footer-text"><a class="footer-link" href="../privacy-policy.html">Privacy Policy</a> | <a class="footer-link" href="../terms.html">Terms and Conditions</a> | <a class="footer-link" href="../cookies-policy.html">Cookies Policy</a></p>
    </div>
    <div class="footer-copyright">
      <p class="footer-text">All rights reserved clarivo.space | <span id="current-year"></span></p>
    </div>
  </div>
</footer>
