<section id="gallery2" class="gallery2 container">
  <h2 class="gallery2-title section-title">GALLERY 2</h2>
  <div class="swiper gallery2-swiper">
    <ul class="swiper-wrapper gallery2-swiper-wrapper">
      <li class="swiper-slide gallery2-swiper-slide">
        <div class="gallery2-img-wrapper">
          <img
            srcset="./images/gallery/gallery-1-1x.png 1x, ./images/gallery/gallery-1-2x.png 2x"
            src="./images/gallery/gallery-1-1x.png"
            alt="gallery image 1"
            width="270"
            height="478"
            class="gallery2-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery2-swiper-slide">
        <div class="gallery2-img-wrapper">
          <img
            srcset="./images/gallery/gallery-2-1x.png 1x, ./images/gallery/gallery-2-2x.png 2x"
            src="./images/gallery/gallery-2-1x.png"
            alt="gallery image 2"
            width="270"
            height="478"
            class="gallery2-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery2-swiper-slide">
        <div class="gallery2-img-wrapper">
          <img
            srcset="./images/gallery/gallery-3-1x.png 1x, ./images/gallery/gallery-3-2x.png 2x"
            src="./images/gallery/gallery-3-1x.png"
            alt="gallery image 3"
            width="270"
            height="478"
            class="gallery2-swiper-img"
          />
        </div>
      </li>
    </ul>
    <div class="gallery2-navigation">
      <div class="swiper-button-prev gallery2-swiper-prev">
        <svg class="gallery2-swiper-btn-svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="swiper-pagination gallery2-swiper-pagination"></div>
      <div class="swiper-button-next gallery2-swiper-next">
        <svg class="gallery2-swiper-btn-svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section> 