<section id="gallery" class="gallery container">
  <h2 class="gallery-title section-title">GALLERY</h2>

  <div class="swiper gallery-swiper" data-gallery-swiper>
    <ul class="swiper-wrapper gallery-swiper-wrapper">
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-1-1x.png 1x,
              ./images/gallery/gallery-1-2x.png 2x
            "
            src="./images/gallery/gallery-1-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-2-1x.png 1x,
              ./images/gallery/gallery-2-2x.png 2x
            "
            src="./images/gallery/gallery-2-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-3-1x.png 1x,
              ./images/gallery/gallery-3-2x.png 2x
            "
            src="./images/gallery/gallery-3-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-4-1x.png 1x,
              ./images/gallery/gallery-4-2x.png 2x
            "
            src="./images/gallery/gallery-4-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-5-1x.png 1x,
              ./images/gallery/gallery-5-2x.png 2x
            "
            src="./images/gallery/gallery-5-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-6-1x.png 1x,
              ./images/gallery/gallery-6-2x.png 2x
            "
            src="./images/gallery/gallery-6-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
      <li class="swiper-slide gallery-swiper-slide">
        <div class="gallery-img-wrapper">
          <img
            srcset="
              ./images/gallery/gallery-7-1x.png 1x,
              ./images/gallery/gallery-7-2x.png 2x
            "
            src="./images/gallery/gallery-7-1x.png"
            alt="image from game"
            width="270"
            height="478"
            class="gallery-swiper-img"
          />
        </div>
      </li>
    </ul>

    <div class="gallery-navigation">
      <div class="swiper-button-prev gallery-swiper-prev" data-gallery-prev>
        <svg class="gallery-swiper-btn-svg" width="19" height="13">
          <use href="./images/sprite.svg#icon-arrow-prev"></use>
        </svg>
      </div>

      <div class="pagination-wrapper">
        <div
          class="swiper-pagination gallery-swiper-pagination"
          data-gallery-pagination
        ></div>
      </div>

      <div class="swiper-button-next gallery-swiper-next" data-gallery-next>
        <svg class="gallery-swiper-btn-svg" width="19" height="13">
          <use href="./images/sprite.svg#icon-arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
