<section id="gallery" class="gallery container">
  <h2 class="gallery-title section-title">GALLERY</h2>

  <div class="swiper gallerySwiper">
    <div class="swiper-wrapper gallery-swapper-wrapper">
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-1-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-2-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-3-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-4-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-5-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-6-1x.png" />
      </div>
      <div class="swiper-slide gallery-swiper-slide">
        <img src="../images/gallery/gallery-7-1x.png" />
      </div>
    </div>

    <div class="gallery-navigation">
      <div class="swiper-button-prev gallery-swiper-btn">
        <svg class="gallery-swiper-btn-svg" width="28" height="28">
          <use href="../images/sprite.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="swiper-pagination gallery-swiper-pagination">
        <svg class="gallery-swiper-pagination" width="10" height="10">
          <use href="../images/sprite.svg#icon-step"></use>
        </svg>
      </div>

      <div class="swiper-button-next gallery-swiper-btn">
        <svg class="gallery-swiper-btn-svg" width="28" height="28">
          <use href="../images/sprite.svg#icon-arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
