<section id="social" class="social container">
  <h2 class="social-title section-title">STILL HAVE QUESTIONS?</h2>
  <p class="social-text">
    Feel free to reach out by email or find us on social media — we’re always
    here to help
  </p>
  <ul class="social-links-list">
    <li class="social-link-item">
      <a href="mailto:info@clarivo.space" target="_blank" class="social-link">
        <svg class="social-link-svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-email"></use>
        </svg>
      </a>
    </li>

    <li class="social-link-item">
      <a
        href="https://instagram.com/dazzlystories"
        target="_blank"
        class="social-link"
      >
        <svg class="social-link-svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="social-link-item">
      <a
        href="https://pinterest.com/dazzlyparis"
        target="_blank"
        class="social-link"
      >
        <svg class="social-link-svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-pinterest"></use>
        </svg>
      </a>
    </li>

    <li class="social-link-item">
      <a
        href="https://maps.app.goo.gl/vHNva7q42QGxtsTYA"
        target="_blank"
        class="social-link"
      >
        <svg class="social-link-svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
