.about {
  padding: 56px 0 28px;
}

.about-title {
  margin-bottom: 32px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  padding: 8px 5px;
  text-align: center;
  color: var(--text-color);
}

.about-item {
  position: relative;
  padding-top: 10px;
}

.about-item::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 115px;
  height: 5px;
  transform: translateX(-50%);
  border-radius: 20px;
  background: url('../images/about/about-2x.jpg') center center/cover no-repeat;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .about {
    padding: 88px 0 44px;
  }

  .about-title {
    margin-bottom: 40px;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 160px;
  }

  .about-text {
    width: 360px;
    text-align: left;
    padding: 8px;
  }
  .about-item {
    padding-left: 32px;
    padding-top: 0; 
  }
  .about-item::before {
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    transform: none;
  }
}
