.about {
  padding: 56px 0 28px;
}

.about-title {
  margin-bottom: 32px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  padding: 8px 5px;
  text-align: center;
  color: var(--text-color);
}

@media only screen and (min-width: 1200px) {
  .about {
    padding: 88px 0 44px;
  }

  .about-title {
    margin-bottom: 40px;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 188px;
  }

  .about-item {
    width: 352px;
  }

  .about-text {
    text-align: left;
    padding: 8px;
  }
}
