:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: "Open Sans", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Inter", sans-serif
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --general: #f1a31b;
	--background: #efe9d9;
	--ornaments: #b87000;
	--add-to-general: #f4b549;
	--add-to-general-2: #fcedd1;
	--back-color: #21553e;
	--back: #4fa49c;
	--hover-color: #da9318;
  --text-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.section-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 28px;
    line-height: 1.57;
    margin-bottom: 40px;
  }
}
