.download {
  padding: 28px 16px;
}

.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.download-image {
  width: 288px;
  height: 317px;
}

.download-content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.download-title {
  padding: 8px 4px;
  text-align: left;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.download-content p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 8px 39px 8px 8px;
}

.content-btn {
  display: flex;
}

.shine-link {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;
}

.shine-link::after {
  content: '';
  position: absolute;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #fff;
  opacity: 0.2;
  transform: rotate(35deg);
  transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  pointer-events: none;
}

.shine-link:hover::after {
  left: 120%;
}

@media only screen and (min-width: 1200px) {
  .download {
    width: 889px;
    padding: 44px 0;
    margin: 0 auto;
  }

  .download-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .download-image {
    width: 433px;
    height: 479px;
  }

  .download-title {
    padding: 8px 10px;
  }

  .download-content p {
    font-weight: 300;
    font-size: 18px;
    padding: 8px 10px;
  }

  .download-content {
    gap: 56px;
  }
}
