.footer {
  padding: 40px 0;
  border-top: 1px solid var(--ornaments);
  background-color: var(--background);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}

.footer-link:hover {
  color: var(--ornaments);
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 18px 0;
  }

  .footer-container {
    gap: 18px;
  }
}
