.gallery {
  padding: 28px 0;
  overflow-x: hidden;
}

.gallery-swiper {
  max-width: 1200px;
  margin: 32px auto 0;
  overflow: hidden;
}

.gallery-swiper-wrapper {
  text-align: center;
}

.gallery-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 478px;
  box-sizing: border-box;
}

.gallery-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gallery-swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-navigation {
  display: flex;
  gap: 43px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 24px;
}

.gallery-swiper-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  overflow-x: auto;
  max-width: 42px;
  min-width: 42px;
  flex-shrink: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.gallery-swiper-pagination::-webkit-scrollbar {
  display: none;
}

.gallery-swiper-pagination .swiper-pagination-bullet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  color: #d9d9d9;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}

.gallery-swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #b87000;
  width: 14px;
  height: 14px;
}

.gallery-swiper-pagination .swiper-pagination-bullet svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
}

@media only screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .gallery {
    padding: 44px 0;
    overflow-x: hidden;
    max-width: 922px;
    margin: 0 auto;
  }
  .gallery-swiper {
    margin-top: 40px;
    width: 100%;
    max-width: 922px;
    overflow: hidden;
  }
  .gallery-swiper-wrapper {
    width: 100%;
  }

  .gallery-navigation {
  margin-top: 40px;
}
}
