.gallery {
  padding: 28px 1px;
}

.gallery-swiper {
  max-width: 1200px;
  margin: 32px auto 0;
  overflow: hidden;
}

.gallery-swiper-wrapper {
  text-align: center;
  width: 100%;
}

.gallery-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 494px;
  box-sizing: border-box;
}

.gallery-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 494px;
}

.gallery-swiper-img {
  width: 270px;
  height: 478px;
  object-fit: cover;
}

.gallery-navigation {
  width: 208px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 24px auto 0;
  gap: 43px;
  padding: 2px;
}

.pagination-wrapper {
  max-width: 42px;
  overflow: hidden;
}

.gallery-swiper-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;

  max-width: 100%;
  padding: 4px 0;
  flex-shrink: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-swiper-pagination::-webkit-scrollbar {
  display: none;
}

.gallery-swiper-pagination .swiper-pagination-bullet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s;
  color: #d9d9d9;
  opacity: 1;
}

.gallery-swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #b87000;
  width: 14px;
  height: 14px;
}

[data-gallery-bullet][data-active='true'] use {
  color: #b87000;
}

.gallery-swiper-pagination .swiper-pagination-bullet svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
}

/* ==== */
.gallery-swiper-prev,
.gallery-swiper-next {
  width: 28px;
  height: 28px;
  border: 1px solid #b87000;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.gallery-swiper-btn-svg use {
  fill: #b87000;
  transition: fill 0.3s ease;
}

.gallery-swiper-prev:hover,
.gallery-swiper-next:hover,
.gallery-swiper-prev:focus,
.gallery-swiper-next:focus {
  background-color: #da9318;
  border: none;
}

.gallery-swiper-prev:active,
.gallery-swiper-next:active {
  background-color: #b87000;
  border: none;
}

.gallery-swiper-prev:hover .gallery-swiper-btn-svg use,
.gallery-swiper-next:hover .gallery-swiper-btn-svg use,
.gallery-swiper-prev:focus .gallery-swiper-btn-svg use,
.gallery-swiper-next:focus .gallery-swiper-btn-svg use,
.gallery-swiper-prev:active .gallery-swiper-btn-svg use,
.gallery-swiper-next:active .gallery-swiper-btn-svg use {
  fill: #efe9d9;
}

/* === */
@media only screen and (min-width: 1200px) {
  .gallery {
    padding: 44px 0;
    max-width: 922px;
    margin: 0 auto;
  }
  .gallery-swiper {
    margin-top: 40px;
    max-width: 922px;
  }
  .gallery-navigation {
    width: 216px;
    margin-top: 40px;
  }
}
