*,
*::before,
*::after {
  box-sizing: border-box;
}

.reviews {
  padding: 28px 0;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  margin-top: 64px;
}

.reviews-item {
  position: relative;
  width: 270px;
}

.reviews-item img {
  position: absolute;
  top: -24px;
  left: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

.reviews-card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  width: 270px;
  height: 138px;
  box-shadow: 0 4px 16px 0 #a6a092;
  background: #f5f5f5;
  padding: 38px 16px 8px 16px;
  position: relative;
  z-index: 1;
}

.reviews-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #1d1d1d;
  flex-grow: 1;
  overflow: hidden;
}

.reviews-divider {
  margin: 6px 0;
  height: 1px;
  background-color: #d9d9d9;
}

.reviews-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #1d1d1d;
}

.reviews-mark {
  display: flex;
  gap: 2px;
}

.star-icon {
  width: 12px;
  height: 12px;
  color: #f1a31b;
  flex-shrink: 0;
}

@media only screen and (min-width: 1200px) {
  .reviews {
    padding: 44px 0;
  }
  .reviews-list {
    margin: 0 auto;
    margin-top: 72px;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 48px 33px;
    justify-content: center;
    justify-items: center;
    max-width: 876px;
  }
}
